__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
build/
dist/
*.egg-info/
*.egg
.cache/
.pytest_cache/
custom/*
logs/*
logs_img/*
test_logs/*
outputs/*
*.bin
*.pth
multirun/*
