albumentations==2.0.5
dask==2025.4.1
h5py==3.13.0
magicgui==0.10.0
matplotlib==3.10.1
napari==0.6.0
numpy==2.2.5
ome_types==0.6.1
opencv_python==4.11.0.86
opencv_python_headless==4.11.0.86
pandas==2.2.3
Pillow==11.2.1
pyvips==3.0.0
rasterio==1.4.3
scikit_learn==1.6.1
scipy==1.15.2
Shapely==2.1.0
scikit-image==0.25.2
slidevips.egg==info
tifffile==2025.2.18
torch==2.6.0+cu124
tqdm==4.67.1
ujson==5.10.0
valis==0.1
zarr==3.0.7
cellpose==3.1.1.1
